*{
    padding: 0;
    margin: 0;
	
}

ul,li,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    background-color: #EDEDED;
    width: 330px;
    /* height: 250px; */
    position: relative;
    /* border: 1px solid black; */
}

img {
	/* 禁止拖拽 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.mengban {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 998;
}

.mengban .window {
    width: 150px;
    height: 240px;
    border-radius: 8px;
    background-color: #fff;
    position: absolute;
    left: calc(330px/4);
    top: 50px;
    z-index: 999;
}

.mengban .window .head{
    width: 80%; 
    margin: 15px auto;
    font-size: 18px;
    /* border: 1px solid rebeccapurple; */
}

.mengban .window .head span {
    display: inline-block;
    position: relative;
    top: -9px;
    color: #E9535D;
    /* 文字渐变 */
    background-image: radial-gradient(circle, #4E509D, #E9535D);
    -webkit-background-clip: text;
    color: transparent;
}

.mengban .window .body {
    width: 80%;
    height: 59%;
    margin: 10px auto 2px;
    font-size: 12px;
}

.mengban .window .body span {
    color: #4E509D;
}

.mengban .window .body red {
    color: #dd5567;
}

.mengban .window .body p {
    margin-bottom: 5px;
}

.mengban .window .body img {
    position: relative;
    top: -30px;
    left: 88px;
}

.mengban .window .foot {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

/* 修改 placeholder 颜色 */
.placeholder::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: red;
    font-weight: bold;
}
.placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: red;
}
.placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: red;
}
.placeholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: red;
}
.placeholder::-ms-input-placeholder { /* Microsoft Edge */
   color: red;
}

/* 禁止选中 */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.selected {
    color: #272727;
    font-weight: 600;
    border-bottom: 2px solid #191919;
}

#status ul{
    width: auto;
    height: 30px;
    padding: 2px 3px;
    /* border: 1px solid black; */
    background-color: #fff;
}

#status li {
    float: left;
    margin: 5px 3px;
    letter-spacing: 0.8px; /*字间距*/
    font-size: 12px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#status li:nth-of-type(1) {
    margin-right: 4px;
    margin-top: 6px;
}

#status li:nth-of-type(2) {
    /* border: 1px solid red; */
    margin-left: 0px;
}

#status li:nth-of-type(3) {
    /* border: 1px solid red; */
    margin-left: 0px;
}

#status li:nth-of-type(4) {
    /* border: 1px solid red; */
    margin: 5px 0px 0px 35px;
	/* border: 1px solid red; */
	width: 34px;
}

#status li:nth-of-type(5) {
    /* border: 1px solid red; */
    margin: 6px 0px 0px 45px;
}

#status li:nth-of-type(6) {
    /* border: 1px solid red; */
    margin-right: 0px;
    margin-left: 2px;
    margin-top: 6px;
}

#status li:nth-of-type(7) {
    /* border: 1px solid red; */
    letter-spacing: 0px;
    margin-top: 4px;
    margin-left: 2px;
	width: 28px;
	text-align: right;
}

#status li:nth-of-type(8) {
    /* border: 1px solid red; */
    margin-left: -2px;
    margin-top: 6px;

}
#status li:nth-of-type(8) img{
    /* border: 1px solid red; */
    margin: -4px 0px;
}

#status li:nth-of-type(9) {
    /* border: 1px solid red; */
    position: absolute;
    right: 13px;
    top: 2px;
}

#searchbox {
    /* border: 1px solid red; */
    background-color: #fff;
}

#searchbox ul {
    width: auto;
    height: 30px;
}

#searchbox li {
    float: left;
}

#searchbox input {
    outline: none;
    border: 0px;
    background-color: transparent;
    margin-top: 5px;
}

#searchbox li:nth-of-type(1) {
    margin-left: 8px;
}

#searchbox li:nth-of-type(2) {
    margin-top: 1px;
    margin-right: 5px;
}

#searchbox li:nth-of-type(3) {
    margin-top: -1px;
}

#searchbox li:nth-of-type(3) input {
    font-size: 14px;
    width: 105%;
}

#searchbox li:nth-of-type(4) {
    margin-top: 1px;
    margin-left: 15px;
	cursor: pointer;
}

#searchbox li:nth-of-type(5) {
    margin-top: -2px;
    text-align: center;
    background-color: transparent;
    /* border: 1px solid black; */
}
#searchbox li:nth-of-type(5) input {
    width: 60px;
    height: 18px;
    line-height: 18px;
    color: #576B94;
    /* border: 1px solid red; */
    cursor: pointer;
}

progress#pg {
	display: none;
	position: absolute;
	color: transparent;
	width: 100%;
	height: 1.5px;
	background-color: #10AE59;
}

#nav {
    padding-top: 2px;
    width: auto;
    height: 39px;
    background-color: #fff;
    overflow: scroll;
}

#nav ul {
    width: 108%;
    color: #848484;
    scrollbar-shadow-color: #EDEDED;
}

#nav li {
    float: left;
    font-size: 14px;
    padding: 6px;
    margin-left: 7px;
    cursor: pointer;
}

#list .info {
    width: auto;
    height: 120px;
    background-color: #fff;
    padding: 10px;
}

/* 空内容显示 */
#list .empty p{
    /* border: 1px red solid; */
    color: #888;
    text-align: center;
    margin-top: 30px;
}

/* #list .info p.title {

} */

#list .info p.title span {
    color: #10AE59;
    font-size: 14px;
}

#list .info p.title pao {
	font-size: 15px;
}

#list .info div.lidapao {
    border-top: 1px solid #F8F8F8;
    margin-top: 10px;
    padding-top: 5px;
}

#list .info div.lidapao div {
    float: left;
}

#list .info div.lidapao div:first-child {
    width: 18%;
    /* border: 1px solid red; */
}

#list .info div.lidapao div:first-child img {
    border-radius: 50%;
}

#list .info div.lidapao div:last-child {
    width: 81%;
    /* border: 1px solid red; */
}

#list .info div.lidapao div:last-child p:nth-of-type(1) {
    font-size: 14px;
    position: relative;
    letter-spacing: 0.8px;
}

#list .info div.lidapao div:last-child p:nth-of-type(1) span {
    position: absolute;
    right: 0px;
    width: 40px;
    text-align: center;
    background-color: #E5F7FF;
    color: #0FADFE;
    font-size: 8px;
}

#list .info div.lidapao div:last-child p:nth-of-type(2) {
    font-size: 12px;
    color: #7F7F7F;
    margin-top: 5px;
    letter-spacing: 0.5px;
}

#list .info div.lidapao div:last-child p:nth-of-type(3) {
    font-size: 12px;
    color: #B9B9B9;
    margin-top: 3px;
}
#list .info div.lidapao div:last-child p:nth-of-type(3) span {
    color: #10AE59;
}

#source {
    width: auto;
    height: 75px;
    margin-top: 6px;  
    padding: 10px;
    background-color: #fff;
}

#source p {
    letter-spacing: 0.8px; /*字间距*/
    margin-bottom: 10px;
    color: #0FADFE;
}

#source .github {
    float: left;
    width: 44%;
    /* border: 1px solid rebeccapurple; */
    background-color: #fff;
    vertical-align: middle;
}


#source .github img {
    vertical-align: middle;
}

#source .gitee {
    float: right;
    width: 44%;
    /* border: 1px solid rebeccapurple; */
    background-color: #fff;
    vertical-align: middle;
}


#source .gitee img {
    vertical-align: middle;
}





/* 修改滚动条默认样式 */
::-webkit-scrollbar
{
    width: 0px;
    height: 6px;/*设置滚动条高度为2px*/
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    background-color: #EDEDED; /*修改轨道颜色*/
}
::-webkit-scrollbar-thumb
{
    background-color: #EDEDED; /*修改滑块颜色*/
}
 
::-webkit-scrollbar-thumb:hover{
    background: #DBDBDB;
    width: 10px;
    
}
